#!/bin/bash
#---------------------------------------------

# Proxy configuration
export PROXY_DIR="/projects/prod/proxy"

# Letsencrypt configuration
export LETSENCRYPT_EMAIL="your-email@example.com"
export LETSENCRYPT_DOMAINS="sub-domain-1.example.com,sub-domain-2.example.com"

export LETSENCRYPT_HTML="$PROXY_DIR/html"
export LETSENCRYPT_CERTS=""
export LETSENCRYPT_SSL="/etc/letsencrypt"

# Proxy configuration
export NGINX_IMAGE="lroguet/rpi-nginx-proxy:latest"
export NGINX_CONFIG="./data/nginx/nginx.conf"
export NGINX_DOMAINS="./data/nginx-domains"
export NGINX_CONTAINER="proxy"

# System
DOCKERCOMPOSE_DIR="/usr/local/bin/docker-compose"

#---------------------------------------------
export THIS_IS_THE_PROJECT_TEMPLATE="Please edit not here, but the orginial configuration file. This files is created using a template."
export DOLLAR="$"
export D="$"

