#!/bin/bash
#---------------------------------------------

# Domain configuration
export PROXY_DOMAINS=(
        "sub-domain-2.example.com;192.168.1.20:80"
	"sub-domain-1.example.com;192.168.1.20:81"
	)
export LETSENCRYPT_DOMAINS="sub-domain-1.example.com,sub-domain-2.example.com"       # list your domains, separated with comma
export LETSENCRYPT_EMAIL="your-email@example.com"                                    # set your mail to request a letsencrypt certificate
export LETSENCRYPT_DRYRUN="yes"                                                      # set if dry run (yes/no)


# Proxy configuration
export PROXY_DIR="/projects/prod/proxy"
export PROXY_DIR_DATA="$PROXY_DIR/data"
export PROXY_TEMP="domain.conf"             # domain.conf / domain-no-ssl.conf

# Letsencrypt directories
export LETSENCRYPT_HTML="$PROXY_DIR_DATA/html"
export LETSENCRYPT_SSL="$PROXY_DIR_DATA/letsencrypt"

# Proxy configuration
export NGINX_IMAGE="lroguet/rpi-nginx-proxy:latest"
export NGINX_CONFIG="$PROXY_DIR_DATA/nginx/nginx.conf"
export NGINX_DOMAINS="$PROXY_DIR_DATA/nginx-domains"
export NGINX_CONTAINER="proxy"

# System
export DOCKERCOMPOSE_DIR="/usr/local/bin/docker-compose"

#---------------------------------------------
export THIS_IS_THE_PROJECT_TEMPLATE="Please edit not here, but the orginial configuration file. This files is created using a template."
export DOLLAR="$"
export D="$"

